/*
 
 ███╗   ███╗ █████╗ ██╗███╗   ██╗
 ████╗ ████║██╔══██╗██║████╗  ██║
 ██╔████╔██║███████║██║██╔██╗ ██║
 ██║╚██╔╝██║██╔══██║██║██║╚██╗██║
 ██║ ╚═╝ ██║██║  ██║██║██║ ╚████║
 ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝
                                 
 
*/
.markdown {
  margin: 0 auto;
  padding-top: 10px;
}

/*
 
 ██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ ███████╗
 ██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗██╔════╝
 ███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝███████╗
 ██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗╚════██║
 ██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║███████║
 ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝╚══════╝
                                                         
 
*/
.markdown >>> h1,h2,h3 {
  margin: 2em 0;
}

.markdown >>>  h1 {
  font-size: 2rem;
  counter-reset: section;
  text-align: center;
}

.markdown >>>  h2 {
  margin: 1em 0;
  font-size: 1.8rem;
  counter-reset: subsection;
  display: block;
}
.markdown >>>  h2::before {
  content: "\f0c9 ";
  counter-increment: section;
  margin-right: 20px;
  border-radius: 30px;
  color: red;
}
.markdown >>>  h3 {
  background-color: #f00;
  color: #fff;
  margin: 1em 0;
  font-size: 1.5rem;
  display: inline-block;
  line-height: 2rem;
  padding-left: 20px;
  padding-right: 20px;
}
.markdown >>>  h3::before {
  content:  counter(subsection) ".";
  margin-right: 10px;
  counter-increment: subsection;
}

.markdown >>>  h4 {
  margin: 1em 0;
  font-size: 1.3rem;
}

.markdown >>>  h5 {
  margin: 1em 0;
  font-size: 1.2rem;
}

.markdown >>>  h6 {
  margin: 1em 0;
  font-size: 1.1rem;
}

/*
 
 ██████╗  █████╗ ██████╗  █████╗  ██████╗ ██████╗  █████╗ ██████╗ ██╗  ██╗███████╗
 ██╔══██╗██╔══██╗██╔══██╗██╔══██╗██╔════╝ ██╔══██╗██╔══██╗██╔══██╗██║  ██║██╔════╝
 ██████╔╝███████║██████╔╝███████║██║  ███╗██████╔╝███████║██████╔╝███████║███████╗
 ██╔═══╝ ██╔══██║██╔══██╗██╔══██║██║   ██║██╔══██╗██╔══██║██╔═══╝ ██╔══██║╚════██║
 ██║     ██║  ██║██║  ██║██║  ██║╚██████╔╝██║  ██║██║  ██║██║     ██║  ██║███████║
 ╚═╝     ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝  ╚═╝╚══════╝
                                                                                  
 
*/

.markdown >>>  p {
  line-height: 1.5rem;
  font-size: 1rem;
}

/*
 
 ██████╗ ██╗      ██████╗  ██████╗██╗  ██╗     ██████╗ ██╗   ██╗ ██████╗ ████████╗███████╗███████╗
 ██╔══██╗██║     ██╔═══██╗██╔════╝██║ ██╔╝    ██╔═══██╗██║   ██║██╔═══██╗╚══██╔══╝██╔════╝██╔════╝
 ██████╔╝██║     ██║   ██║██║     █████╔╝     ██║   ██║██║   ██║██║   ██║   ██║   █████╗  ███████╗
 ██╔══██╗██║     ██║   ██║██║     ██╔═██╗     ██║▄▄ ██║██║   ██║██║   ██║   ██║   ██╔══╝  ╚════██║
 ██████╔╝███████╗╚██████╔╝╚██████╗██║  ██╗    ╚██████╔╝╚██████╔╝╚██████╔╝   ██║   ███████╗███████║
 ╚═════╝ ╚══════╝ ╚═════╝  ╚═════╝╚═╝  ╚═╝     ╚══▀▀═╝  ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚══════╝
                                                                                                  
 
*/

.markdown >>>  blockquote::before {
  content: "\f10d";
  color: red;
  display: inline-block;
  float: left;
  padding-right: 15px;
}

.markdown >>>  blockquote {
  margin: 0 0 1.5em;
  font-size: 16px;
  width: 96%;
  padding: 0 10px;
  color: #777;
  border-radius: 5px;
}

/*
 
  ██████╗ ██████╗ ██████╗ ███████╗    ██████╗ ██╗      ██████╗  ██████╗██╗  ██╗███████╗
 ██╔════╝██╔═══██╗██╔══██╗██╔════╝    ██╔══██╗██║     ██╔═══██╗██╔════╝██║ ██╔╝██╔════╝
 ██║     ██║   ██║██║  ██║█████╗      ██████╔╝██║     ██║   ██║██║     █████╔╝ ███████╗
 ██║     ██║   ██║██║  ██║██╔══╝      ██╔══██╗██║     ██║   ██║██║     ██╔═██╗ ╚════██║
 ╚██████╗╚██████╔╝██████╔╝███████╗    ██████╔╝███████╗╚██████╔╝╚██████╗██║  ██╗███████║
  ╚═════╝ ╚═════╝ ╚═════╝ ╚══════╝    ╚═════╝ ╚══════╝ ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝
                                                                                       
 
*/

.markdown >>> .codehilite{
  border-radius: 5px;
}


.markdown >>> code {
  /* white-space: nowrap; */
  overflow: scroll;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  padding: 2px;
  unicode-bidi: normal;
}

.markdown >>> pre {
  white-space: pre-wrap;
  margin-bottom: 24px;
  overflow: hidden;
  padding: 10px 20px;
  font-size: 16px;
  font-size: 14px;
  -webkit-border-radius: 3px;
  unicode-bidi: normal;
}


.markdown >>> small {
  font-size: 65%;
}

/*
 
 ██████╗ ██╗ ██████╗████████╗██╗ ██████╗ ███╗   ██╗ █████╗ ██████╗ ██╗   ██╗    ██████╗ ███████╗███████╗██╗███╗   ██╗██╗████████╗██╗ ██████╗ ███╗   ██╗
 ██╔══██╗██║██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔══██╗██╔══██╗╚██╗ ██╔╝    ██╔══██╗██╔════╝██╔════╝██║████╗  ██║██║╚══██╔══╝██║██╔═══██╗████╗  ██║
 ██║  ██║██║██║        ██║   ██║██║   ██║██╔██╗ ██║███████║██████╔╝ ╚████╔╝     ██║  ██║█████╗  █████╗  ██║██╔██╗ ██║██║   ██║   ██║██║   ██║██╔██╗ ██║
 ██║  ██║██║██║        ██║   ██║██║   ██║██║╚██╗██║██╔══██║██╔══██╗  ╚██╔╝      ██║  ██║██╔══╝  ██╔══╝  ██║██║╚██╗██║██║   ██║   ██║██║   ██║██║╚██╗██║
 ██████╔╝██║╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║██║  ██║██║  ██║   ██║       ██████╔╝███████╗██║     ██║██║ ╚████║██║   ██║   ██║╚██████╔╝██║ ╚████║
 ╚═════╝ ╚═╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝       ╚═════╝ ╚══════╝╚═╝     ╚═╝╚═╝  ╚═══╝╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
                                                                                                                                                       
 
*/

.markdown >>>  dt {
  display: inline;
  font-weight: bold;
}

.markdown >>>  dd {
  display: block;
}

/*
 
  █████╗ ███╗   ██╗ ██████╗██╗  ██╗ ██████╗ ██████╗ ███████╗
 ██╔══██╗████╗  ██║██╔════╝██║  ██║██╔═══██╗██╔══██╗██╔════╝
 ███████║██╔██╗ ██║██║     ███████║██║   ██║██████╔╝███████╗
 ██╔══██║██║╚██╗██║██║     ██╔══██║██║   ██║██╔══██╗╚════██║
 ██║  ██║██║ ╚████║╚██████╗██║  ██║╚██████╔╝██║  ██║███████║
 ╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
                                                            
 
*/
.markdown >>>  a::before {
  content: "\f0a9";
  color: #0d6efd;
  padding-right: 10px;
  margin-left: 10px;
  text-decoration: none;
}

.markdown >>>  a {
  color: #0d6efd;
  text-decoration: none;
}

.markdown >>>  a:hover {
  text-decoration: underline;
}

/*
 
 ██╗  ██╗ ██████╗ ██████╗ ██╗███████╗ ██████╗ ███╗   ██╗████████╗ █████╗ ██╗         ██████╗ ██╗   ██╗██╗     ███████╗███████╗
 ██║  ██║██╔═══██╗██╔══██╗██║╚══███╔╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██║         ██╔══██╗██║   ██║██║     ██╔════╝██╔════╝
 ███████║██║   ██║██████╔╝██║  ███╔╝ ██║   ██║██╔██╗ ██║   ██║   ███████║██║         ██████╔╝██║   ██║██║     █████╗  ███████╗
 ██╔══██║██║   ██║██╔══██╗██║ ███╔╝  ██║   ██║██║╚██╗██║   ██║   ██╔══██║██║         ██╔══██╗██║   ██║██║     ██╔══╝  ╚════██║
 ██║  ██║╚██████╔╝██║  ██║██║███████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║███████╗    ██║  ██║╚██████╔╝███████╗███████╗███████║
 ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝╚═╝╚══════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝╚══════╝    ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚══════╝╚══════╝
                                                                                                                              
 
*/

.markdown >>>  hr {
  width: 100%;
  margin: 3em auto;
  border: 0;
  color: #eee;
  background-color: #ccc;
  height: 1px;
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

/*
 
 ██╗     ██╗███████╗████████╗███████╗
 ██║     ██║██╔════╝╚══██╔══╝██╔════╝
 ██║     ██║███████╗   ██║   ███████╗
 ██║     ██║╚════██║   ██║   ╚════██║
 ███████╗██║███████║   ██║   ███████║
 ╚══════╝╚═╝╚══════╝   ╚═╝   ╚══════╝
                                     
 
*/

.markdown >>>  ol,ul {
  padding-left: 0;
  margin-left: 1.5em;
}

.markdown  >>> ol li, ul li {
  text-align: justify;
}

.markdown >>>  li p {
  margin: 0.5em 0 0.5em;
}

.markdown >>>  ol ol,
ol ul,
ul ul,
ul ol {
  padding-left: 1.5em;
}

.markdown >>> ol ~ p {
  padding-left: 2em;
}
.markdown >>> ul ~ p {
  padding-left: 2em;
}

/*
 
 ████████╗ █████╗ ██████╗ ██╗     ███████╗███████╗
 ╚══██╔══╝██╔══██╗██╔══██╗██║     ██╔════╝██╔════╝
    ██║   ███████║██████╔╝██║     █████╗  ███████╗
    ██║   ██╔══██║██╔══██╗██║     ██╔══╝  ╚════██║
    ██║   ██║  ██║██████╔╝███████╗███████╗███████║
    ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝╚══════╝
                                                  
 
*/

.markdown >>>  table {
  margin-bottom: 24px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-spacing: 0;
}

.markdown >>>  table th {
  padding: 3px 10px;
  background-color: #eee;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

.markdown >>>  table tr {
}

.markdown >>>  table td {
  padding: 3px 10px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

/*
 
 ██╗███╗   ███╗ █████╗  ██████╗ ███████╗███████╗
 ██║████╗ ████║██╔══██╗██╔════╝ ██╔════╝██╔════╝
 ██║██╔████╔██║███████║██║  ███╗█████╗  ███████╗
 ██║██║╚██╔╝██║██╔══██║██║   ██║██╔══╝  ╚════██║
 ██║██║ ╚═╝ ██║██║  ██║╚██████╔╝███████╗███████║
 ╚═╝╚═╝     ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚══════╝
                                                
 
*/

.markdown >>> img {
  border: none;
  display: block;
  max-width: 70%;
  border-radius: 5px;
  margin: 0 auto;
}


/*
 
  ██████╗ ████████╗██╗  ██╗███████╗██████╗ 
 ██╔═══██╗╚══██╔══╝██║  ██║██╔════╝██╔══██╗
 ██║   ██║   ██║   ███████║█████╗  ██████╔╝
 ██║   ██║   ██║   ██╔══██║██╔══╝  ██╔══██╗
 ╚██████╔╝   ██║   ██║  ██║███████╗██║  ██║
  ╚═════╝    ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝
                                           
 
*/
